/*************************
    Colors
*************************/
$white: #fff;
$black: #333333;
$neutral: #E9E9E9;

$clr-brand-primary: #1C2536;
$clr-brand-primary-light: #223049;
$clr-brand-primary-dark: #1c222c;
$clr-brand-secondary: #F79009;
$clr-brand-secondary-dark: #e78504;
$clr-brand-success: #15B79E;
$clr-brand-success-dark: #159b87;
$clr-brand-info: #2970FF;
$clr-brand-danger: #F04438;