.header {
    position: sticky;
    top: 2rem;
    left: 0;
    right: 0;
    z-index: 10000;

    a {
        color: $clr-brand-primary;

        &:hover {
            color: $clr-brand-primary-light;
        }
    }

    .nav {
        &__container {
            display: flex;
            gap: 2rem;
        }

        &__link {
            position: relative;
            padding: 2rem 0;
        }

        &__link.active {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 10%;
                right: 10%;
                height: .7rem;
                background-color: $clr-brand-primary;
                border-radius: 0 0 1rem 1rem;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 10%;
                right: 10%;
                height: .7rem;
                background-color: $clr-brand-primary;
                border-radius: 1rem 1rem 0 0;
            }
        }
    }
}